---
import PageContainer from "../../layouts/PageContainer.astro";
import {Headline, Column, ScrollbarArea} from "@qinetik/anique"
let items = []
for(let i = 0; i< 25; i++) {
    items = [...items, i]
}
---

<PageContainer>
    <Column>
        <Headline>Scrollbar</Headline>
        <p>You can use ScrollbarArea to create a beautiful looking scrollbar</p>
        <ScrollbarArea class="area">
            {items.map((e) => (
                <div class="item">{e}</div>
            ))}
        </ScrollbarArea>
    </Column>
</PageContainer>

<style>
    .area {
        height : 300px;
        overflow-y : auto;
    }
    .item {
        width : 80px;
        height : 20px;
        padding : 0.5em;
    }
</style>